In [172]:
import numpy as np
import pandas as pd

In [173]:
training_data=np.genfromtxt("0000000000002429_training_titanic_x_y_train.csv",delimiter=',')
testing_data=np.genfromtxt("0000000000002429_test_titanic_x_test.csv",delimiter=',')

In [174]:
training_data.shape,testing_data.shape

((668, 12), (223, 11))

In [175]:
df_train=pd.DataFrame(data=training_data,columns=['Pclass','Name','Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'])
df_train

,Pclass,Name,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2.0,NaN,NaN,NaN,29.0,1.0,0.0,228414.0,26.0000,NaN,NaN,1.0
1,3.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,8.0500,NaN,NaN,0.0
2,2.0,NaN,NaN,NaN,39.0,0.0,0.0,250655.0,26.0000,NaN,NaN,0.0
3,3.0,NaN,NaN,NaN,29.0,0.0,4.0,349909.0,21.0750,NaN,NaN,0.0
4,3.0,NaN,NaN,NaN,25.0,0.0,0.0,NaN,7.0500,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
663,2.0,NaN,NaN,NaN,17.0,0.0,0.0,NaN,10.5000,NaN,NaN,1.0
664,3.0,NaN,NaN,NaN,NaN,0.0,0.0,372622.0,7.7500,NaN,NaN,0.0
665,3.0,NaN,NaN,NaN,32.0,0.0,0.0,1601.0,56.4958,NaN,NaN,1.0
666,3.0,NaN,NaN,NaN,22.0,0.0,0.0,7553.0,9.8375,NaN,NaN,0.0
667,3.0,NaN,NaN,NaN,NaN,1.0,0.0,367230.0,15.5000,NaN,NaN,1.0

In [176]:
df_train.isnull().sum()

Pclass        0
Name        668
Name        668
Sex         668
Age         132
SibSp         0
Parch         0
Ticket      174
Fare          0
Cabin       668
Embarked    668
Survived      0
dtype: int64

In [177]:
df_train.drop(['Name','Sex','Cabin','Embarked','Ticket','Fare'],axis=1,inplace=True)

In [178]:
df_train.describe()

           Pclass         Age       SibSp       Parch    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186    0.402695
std      0.831638   14.240257    1.080327    0.854695    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    0.000000
50%      3.000000   29.000000    0.000000    0.000000    0.000000
75%      3.000000   38.250000    1.000000    0.000000    1.000000
max      3.000000   80.000000    8.000000    6.000000    1.000000

In [179]:
df_train.fillna(df_train['Age'].mean(),inplace=True)

In [180]:
from sklearn.linear_model import LogisticRegression

In [181]:
clf=LogisticRegression()

In [182]:
df_train_x=df_train.iloc[:,0:4]
df_train_y=df_train.iloc[:,4]

In [183]:
clf.fit(df_train_x,df_train_y)

C:\Users\Shreya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [184]:
m=clf.predict(df_train_x)

In [190]:
df_test=pd.DataFrame(data=testing_data,columns=['Pclass','Name','Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
df_test.isnull().sum()

Pclass        0
Name        223
Name        223
Sex         223
Age          45
SibSp         0
Parch         0
Ticket       56
Fare          0
Cabin       223
Embarked    223
dtype: int64

In [192]:
df_test.drop(['Name','Sex','Cabin','Embarked','Ticket','Fare'],axis=1,inplace=True)
df_test.describe()

           Pclass         Age       SibSp       Parch
count  223.000000  178.000000  223.000000  223.000000
mean     2.345291   29.694775    0.506726    0.304933
std      0.850047   15.398053    1.169700    0.634108
min      1.000000    0.420000    0.000000    0.000000
25%      2.000000   19.250000    0.000000    0.000000
50%      3.000000   27.000000    0.000000    0.000000
75%      3.000000   37.750000    1.000000    0.000000
max      3.000000   71.000000    8.000000    2.000000

In [193]:
df_test.fillna(df_test['Age'].mean(),inplace=True)